
.comment ul {
    list-style-type: none;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .comment ul li {
    border-left-style: solid;
    border-left-color: azure;
  }
  