.comment-root ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0em;
}

.comment ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1.5em;
}

.platform-browser ion-content {
  overflow-y: auto !important;
}

.collapsed {
  display: none;
}