<ion-content overflow-scroll="true" class="selectable">
  <div *ngIf="item$ | async as item">

    <div>
      <b>{{item.title}}</b>
    </div>

    <div>
      By: <a href="https://news.ycombinator.com/user?id={{item.by}}">{{item.by}}</a>
    </div>

    <div>
      Comments: {{item.descendants}}
    </div>

    <div *ngIf="createdAt$ | async as createdAt">
      Created: {{createdAt}}
    </div>

    <div>
      Score: {{item.score}}
    </div>

    <div [innerHTML]="item.text"></div>

    <div class="comment">

      <ion-content>
        <ion-list>
          <div *ngFor="let commentId of childrenIds; index as i">
            <comment [commentId]="commentId" level="0" [id]="'comment-'+i"></comment>
          </div>
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>


      <!-- <ul>
        <li *ngFor="let commentId of item.kids; index as i">
          <comment [commentId]="commentId" level="0" [id]="'comment-'+i"></comment>
          <ion-item-divider></ion-item-divider>
        </li>
      </ul> -->
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="refreshItem()">
            <ion-icon name="refresh"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="scrollToNextRootComment()">↓</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>