<ion-content overflow-scroll="true" class="selectable">
  <div *ngIf="item$ | async as item" class="padded">

    <div>
      <b>{{item.title}}</b>
    </div>

    <div>
      By: <a href="https://news.ycombinator.com/user?id={{item.by}}">{{item.by}}</a>
    </div>

    <div>
      Comments: {{item.descendants}}
    </div>

    <div *ngIf="createdAt$ | async as createdAt">
      Created: {{createdAt}}
    </div>

    <div>
      Score: {{item.score}}
    </div>

    <div [innerHTML]="item.text"></div>

    <div class="comment-root">
      <ul>
        <li *ngFor="let commentId of item.kids; index as i" (click)="toggleCollapse(i)" [id]="'comment-'+i">

          <div [id]="'collapsed-comment-'+i" class="collapsed">
            ...
          </div>

          <div [id]="'uncollapsed-comment-'+i">
            <comment [commentId]="commentId" level="0"></comment>
          </div>

          <ion-item-divider></ion-item-divider>
        </li>
      </ul>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="refreshItem()">
            <ion-icon name="refresh"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="scrollToNextRootComment()">↓</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>