<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="selctable">{{title}}</div>
    <button (click)="scrollToNextRootComment()">∨</button>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true" class="selectable" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div *ngIf="item$ | async as item">

    <div>
      By: <a href="https://news.ycombinator.com/user?id={{item.by}}">{{item.by}}</a>
    </div>

    <div>
      Comments: {{item.descendants}}
    </div>

    <div *ngIf="createdAt$ | async as createdAt">
      Created: {{createdAt}}
    </div>

    <div>
      Score: {{item.score}}
    </div>

    <div [innerHTML]="item.text"></div>

    <div class="comment">
      <ul>
        <li *ngFor="let commentId of item.kids; index as i">
          <comment [commentId]="commentId" level="0" [id]="'comment-'+i"></comment>
          <ion-item-divider></ion-item-divider>
        </li>
      </ul>
    </div>
  </div>
</ion-content>