<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="refreshUser($event)">
    <ion-refresher-content pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>

  <h1 *ngIf="userId$ | async as userId">{{userId}}</h1>
  <div *ngIf="user$ | async as user">

    <div *ngIf="createdAt$ | async as createdAt">
      Created: {{createdAt}}
    </div>

    <div>
      Karma: {{user.karma}}
    </div>

    <div *ngIf="user.about">
      About:
      <div [innerHTML]="user.about | safeHtml"></div>
    </div>

    <ion-segment (ionChange)="previewOnChanged($event)">
      <ion-segment-button value="comments" checked>
        <ion-label>Comments</ion-label>
      </ion-segment-button>
      <ion-segment-button value="submissions">
        <ion-label>Submissions</ion-label>
      </ion-segment-button>
    </ion-segment>

    <br/>

    <ion-list *ngIf="userCommentItems$ | async as userCommentItems">
      <div *ngFor="let item of userCommentItems">
        <preview [item]="item"></preview>
      </div>
    </ion-list>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>